<html >
<head>
    <title>ItemDetail</title>
</head>
<body>
<br>
The details for {{itemName}} are:<br><br>
<table>
    <tr>
        <td>Status</td><td>{{message}}</td>
    </tr>
    <tr>
        <td>Value</td><td>{{itemValue}}</td>
    </tr>
    <tr>
        <td>Taxrate</td><td>{{itemTaxRate}}</td>
    </tr>
    <tr>
        <td>Type</td><td>{{itemType}}</td>
    </tr>
    <tr>
        <td>Price (including GST)</td><td>{{itemPrice}}</td>
    </tr>
</table>
<br><br>
<a href='\home'>Back</a>

</body>
</html>